<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="classes" >
  <test name="TestonfireFox">
  <parameter name="browsername" value="firefox"></parameter>
    <classes>
      <class name="Seleniumexamples.MultipleBrowser"/>
    </classes>
    </test> 
    
    <test name="Testonchrome">
  <parameter name="browsername" value="chrome"></parameter>
    <classes>
      <class name="Seleniumexamples.MultipleBrowser"/>
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
